@model IEnumerable<Cinema>

@{
    ViewData["Title"] = "List kin";
}

<div class="row">
    <div class="col-md-8 offset-md-2">

        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.Logo)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>Akcje</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.Logo" alt="@item.Name" style="max-width: 150px" />
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <td class="align-middle d-flex flex-column">
                                <a class="btn btn-outline-primary m-1" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i> Edytuj</a>
                                <a class="btn btn-outline-info m-1" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i> Zobacz</a>
                                <a class="btn btn-outline-danger m-1" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i> Usuń</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>