@model IEnumerable<Actor>

@{
    ViewData["Title"] = "Aktorzy";
}

@await Html.PartialAsync("_CreateItem", "Actors") 

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ProfilePictureURL)</th>
                    <th>@Html.DisplayNameFor(model => model.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.Bio)</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>Akcje</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.ProfilePictureURL" alt="@item.FullName" style="max-width: 150px" />
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.FullName);
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Bio);
                        </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <td class="align-middle d-flex flex-column">
                                <a class="btn btn-outline-primary m-1" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i> Edytuj</a>
                                <a class="btn btn-outline-info m-1" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i> Zobacz</a>
                                <a class="btn btn-outline-danger m-1" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i> Usuń</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>