@model Movie

@{
    ViewData["Title"] = "Szczegóły filmu";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-2 bg-dark">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-header text-white bg-primary">
                        <p class="card-text">
                            <h5 class="card-title text-center">
                            @Model.Name
                        </h5>
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-xl-5">
                <img src="@Model.ImageURL" width="100%" alt="@Model.Name">
            </div>
            <div class="col-md-8 col-xl-7">
                <div class="card-body">
                    <ul class="list-group list-group-flush bg-dark text-white">
                        <li class="list-group-item bg-dark text-white"><b>Kino: </b>  @Model.Cinema.Name</li>
                        <li class="list-group-item bg-dark text-white"><b>Kategoria: </b>@Model.MovieCategory</li>
                        <li class="list-group-item bg-dark text-white"><b>Gramy od: </b>@Model.StartDate.ToString("dd-MM-yyyy")</li>
                        <li class="list-group-item bg-dark text-white"><b>Gramy do: </b>@Model.EndDate.ToString("dd-MM-yyyy")</li>
                        <li class="list-group-item bg-dark text-white ">
                            <b>Dostępnośc biletów: </b>
                            @if (DateTime.Now >= Model.StartDate && DateTime.Now <= Model.EndDate)
                            {
                                <span class="badge bg-success text-white">DOSTĘPNE</span>
                            }
                            else if (DateTime.Now > Model.EndDate)
                            {
                                <span class="badge bg-danger text-white">NIEDOSTĘPNE</span>
                            }
                            else
                            {
                                <span class="badge bg-primary text-white">PREMIERA</span>
                            }
                        </li>
                        <li class="list-group-item  bg-dark text-white">Koszt biletu @Model.Price.ToString("N2")</li
                    </ul>
                    <p class="card-text text-white text-center mt-4">
                        <b class="d-block">Reżyser: </b>
                        <img class="border-info" src="@Model.Producer.Avatar" style="max-width: 100px" />
                        <br />
                        @Model.Producer.FullName
                    </p>
                    <p class="card-text text-center mt-2">
                        <b class="text-white">Aktorzy: </b>
                        <div class="row">
                            @foreach (var actor in Model.ActorsMovies)
                            {
                                <div class="col-sm text-center text-white">
                                    <img class="border-info" src="@actor.Actor.ProfilePictureURL" style="max-width: 100px" />
                                    <br />
                                    @actor.Actor.FullName
                                </div>
                            }
                        </div>
                    </p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card-footer ">
                    <div class="card-text row">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <div class="col-md-6">
                                <a class="btn btn-outline-success col-12" asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a>
                            </div>
                        } else
                        {
                                
                            <div class="col-md-6">
                                <a class="btn btn-success text-white col-12 @((DateTime.Now > @Model.EndDate) ? "disabled" : "")" 
                                    asp-controller="Orders" 
                                    asp-action="AddItemToShoppingCart" 
                                    asp-route-id="@Model.Id">
                                <i class="bi bi-cart-plus"></i> Rezerwuj</a>
                            </div>
                                
                        }

                        <div class="col-md-6">
                            <a class="btn btn-outline-info col-12" asp-action="Index">Powrót</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>