@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Filmy";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
            <div class="card mb-2 bg-dark">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-primary">
                            <p class="card-text">
                                <h5 class="card-title text-center">
                                    @item.Name
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                    }
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-5">
                        <img src="@item.ImageURL" width="100%" alt="@item.Name">
                    </div>
                    <div class="col-md-8 col-xl-7">
                        <div class="card-body">
                            <ul class="list-group list-group-flush bg-dark text-white">
                                <li class="list-group-item bg-dark text-white"><b>Kino: </b>  @item.Cinema.Name</li>
                                <li class="list-group-item bg-dark text-white"><b>Kategoria: </b>@item.MovieCategory</li>
                                <li class="list-group-item bg-dark text-white"><b>Gramy od: </b>@item.StartDate.ToString("dd-MM-yyyy")</li>
                                <li class="list-group-item bg-dark text-white"><b>Gramy do: </b>@item.EndDate.ToString("dd-MM-yyyy")</li>
                                <li class="list-group-item bg-dark text-white ">
                                    <b>Dostępnośc biletów: </b>
                                    @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                                    {
                                        <span class="badge bg-success text-white">DOSTĘPNE</span>
                                    }
                                    else if (DateTime.Now > item.EndDate)
                                    {
                                        <span class="badge bg-danger text-white">NIEDOSTĘPNE</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-primary text-white">PREMIERA</span>
                                    }
                                </li>
                                <li class="list-group-item  bg-dark text-white">Koszt biletu @item.Price.ToString("N2")</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <div class="card-text row">
                                <div class="col-md-6">
                                    <a class="btn btn-info float-right col-12" asp-action="Details" asp-route-id="@item.Id">
                                        <i class="bi bi-eye-fill"></i> Szczegóły
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a class="btn btn-success text-white col-12 @((DateTime.Now > item.EndDate) ? "disabled" : "")" 
                                       asp-controller="Orders" 
                                       asp-action="AddItemToShoppingCart" 
                                       asp-route-id="@item.Id">
                                    <i class="bi bi-cart-plus"></i> Rezerwuj</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>